/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

 body{
   background-color: #0a0e1d;
 }
 .container{
  background-color: #141a31;
  
 }
.row{
  margin-bottom: 0px;
}
/* .wrapper{
  margin: 0 auto;
background-color: red;

} */
.brand-logo{
align-content: center;

}
.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}
.customNav{
background-color: #141a31;
/* align-items: center; */
}
.carousel{
  height:40vh;

}
.carousel-item {

  width: 450px !important;
  height: 250px !important;
}

.cc1{
  background-image: url(../images/cc1.jpg);
}
.cc2{
  background-image: url(../images/cc2.jpg);
}
.cc3{
  background-image: url(../images/cc3.jpg);
}
.cc4{
  background-image: url(../images/cc4.jpg);
}
.cc1, .cc2, .cc3, .cc4{
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
} 

.cardBg {

  background-color: #141a31 !important;
}

.card {
  border-radius: 6px !important;
  /* width:200px; */
} 
.card .card-content {
  padding: 10px !important;
  border-radius: 0 0 3px 3px !important;
}
.customCardTitle{
  font-size: 22px !important;
}

.btn{
  background-color: #1e2746 !important;
}
/*.btn:visited{
  background-color: yellow !important;
}
.btn:hover {
  background-color: skyblue !important;
}
.btn:active{
  background-color: pink !important;
}
.btn:focus{
  background-color: pink !important;
} */
.btn-large{
  margin:10px;
}
.page-footer{
  background-color: #1e2746 !important;
}
.fa{
  color:  #1e2746 !important;
}